html.theme-classic {
    --color: #cccccc;
    --background: #050500;
    --inputbg: #101015;
    --inputcolor: #eeeeee;
    --inputborder: #ffffff;
    --progressbg: #000000;
    --font-family: Consolas, monospace !important;
    --responseborderwidth: 1px;
}

html.theme-light {
    --color: #101010;
    --background: #fafafa;
    --inputbg: #ffffff;
    --inputcolor: #101015;
    --inputborder: #aaaaaa;
    --progressbg: #202020;
    --font-family: Bahnschrift, Roboto, monospace !important;
    --responseborderwidth: 4px;
}

html.theme-dark {
    --color: #cccccc;
    --background: #152222;
    --inputbg: #101015;
    --inputcolor: #eeeeee;
    --inputborder: #050505;
    --progressbg: #000000;
    --font-family: Bahnschrift, Roboto, monospace !important;
    --responseborderwidth: 2px;
}

html {
    background: var(--background);
    color: var(--color);
    font-family: var(--font-family);
    font-weight: 300;
}

input, button, textarea, select {
    background: var(--inputbg);
    color: var(--inputcolor);
    border: 1px solid var(--inputborder);
    font-family: inherit;
    font-size: 12pt;
    font-weight: 400;
}

input:not(input[type=checkbox]), button {
    min-height: 1.5em;
}
textarea {
    resize: vertical;
    height: 10em;
    font-weight: 300;
}
#responseA, #responseB, #prompt, #yours, #progress, #output, textarea, #rank, .tiersetFlex {
    width: 100%;
    max-width: 1200px;
}

#prompt {
    height:2em;
}

#responseA, #responseB, progress {
    display: block;
}

#responseA, #responseB {
    height: 25%;
    max-height: 4em;
    border-width: var(--responseborderwidth) !important;
}

html.theme-light #responseA, html.theme-light #responseB {
    color: var(--inputcolor) !important;
}

progress[value]  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid white;
    height: 1.5em;
    background-color:var(--progressbg);
}

progress::-webkit-progress-bar {
    background: var(--progressbg);
}

progress::-moz-progress-bar, progress::-webkit-progress-value {
    background-color: #dddd00
}

ul#reviewList, ul.tier {
    list-style-image: url("selector.svg");
}

.splitBox {
    display:flex;
    flex-direction: row;
}
.splitBox div {
    flex: 1 1 auto;
}

.left, .right {
    width: 50%;
    margin: 2px;
}

.tiersetFlex {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;
}

ul.tier {
    min-height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

select {
    appearance: none;
}

#customTierset {
    flex-grow: 1;
    min-width: 400px;
}

@media(max-width: 800px) {

    .left, .right {
        width: 100%;
    }

    .splitBox {
        flex-direction: column;
    }
}

